
* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  background-color: yellow;
}

form {
  text-align: center;
  padding-top: 3em;
}


img {
  max-width: 100%;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: red;
  margin: .5em 0 .25em;
}

h2 {
  font-size: 2.5em;
  margin: .25em 0 .5em;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}

h4 {
  font-size: 1.45em;
  margin: 1em 0 2em;
  text-align: center;
}

header {
  background: #ee7f3c;
  color: #fff;
}

header img {
  height: 5em;
  padding: 1em;
}

main {
  min-height: 70vh;
  margin: 3em;
}

/* GLOBAL STYLES */

footer {
  background: #333;
  color: #fff;
  padding: 2em 1em;
  text-align: center;
}

#sendbutton {
  background-color: red;
  color: white;
  font-size: 2em;
  text-align: center;
  width: 5em;
  height: 2em;
  border-radius: 10px;
}
